body {
  background-color: lightgray;
}

.main-box {
  padding: 10px;
  background-color: white;
  margin: auto;
  width: 200px;
}

.red-light-box {
  background-color: red;
  text-align: center;
  box-sizing: border-box;
  border: 20px solid darkred;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.red-small-box {
  background-color: #ff948d;
  box-sizing: border-box;
  height: 50%;
  margin-top: 50%;
}
.yellow-light-box {
  background-color: yellow;
  text-align: center;
  box-sizing: border-box;
  border: 20px solid #b8860b;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.yellow-small-box {
  background-color: #ffff9d;
  box-sizing: border-box;
  height: 50%;
  margin-top: 50%;
  margin-left: 50%;
}
.green-light-box {
  background-color: green;
  text-align: center;
  box-sizing: border-box;
  border: 20px solid darkgreen;
  height: 200px;
  width: 200px;
}

.green-small-box {
  background-color: #92bf8b;
  box-sizing: border-box;
  height: 50%;
  margin-top: 50%;
  margin-right: 50%;
}
